@model LaTirelire.Models.Fabricant

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Fabricant</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
            <br />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adresse.numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adresse.numero)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Adresse.voie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adresse.voie)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Adresse.codePostal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adresse.codePostal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Adresse.ville)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adresse.ville)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Adresse.pays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adresse.pays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tel)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Retour à la liste", "Liste")
</p>
