@model IEnumerable<LaTirelire.Models.Commande>

@{
    ViewBag.Title = "Index";
}

<h2>Liste des commandes</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            n° commande
        </th>
        <th>
            @Html.ActionLink("Nom client", "Index", new { ordre = "nom" })            
        </th>
        <th>
            Ville
        </th>
        <th>
            nbre articles
        </th>
        <th>
            @Html.ActionLink("statut", "Index", new { ordre = "statut" })
        </th>
        <th>
            @Html.ActionLink("date Commande", "Index", new { ordre="date"})
            
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client.nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client.Adresse.ville)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DetailCommandes.Count)
        </td>
        <td>
            @Html.ActionLink("<->", "StatutPrecedent", new { id = item.id })
            @Html.DisplayFor(modelItem => item.Statut1.nomStatut)
            @Html.ActionLink("<+>", "StatutSuivant", new { id = item.id })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateCommande)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |

            @*@Html.ActionLink("Delete", "Delete", new { id=item.id })*@
        </td>
    </tr>
}

</table>
