@model LaTirelire.ViewModels.RegisterClientViewModel
@{
    ViewBag.Title = "S’inscrire";
}

@*<h2>@ViewBag.Title.</h2>*@

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Création d'un nouveau compte client.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <span>@ViewBag.Erreurs</span>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>

    <hr />
    @*@Html.HiddenFor(m => m.client.actif, new { id = "actif", value="true" })*@
    <input data-val="true" data-val-required="Le champ actif est requis." id="actif" name="actif" type="hidden" value="true">
    <div class="form-group">
        @Html.LabelFor(m => m.client.nom, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.client.nom, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.client.prenom, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.client.prenom, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.client.tel, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.client.tel, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.client.theme, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.client.theme, (IEnumerable<SelectListItem>)ViewBag.listeThemes, new { @class = "form-control" })
        </div>
    </div>
    <hr />
    <div class="form-group">
        @Html.LabelFor(m => m.AdresseFacturation.numero, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.AdresseFacturation.numero, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.AdresseFacturation.voie, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.AdresseFacturation.voie, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.AdresseFacturation.codePostal, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.AdresseFacturation.codePostal, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.AdresseFacturation.ville, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.AdresseFacturation.ville, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.AdresseFacturation.pays, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @*Je voudrais mettre "France" en valeur par défaut pour le champ Pays, mais ça veut pas ...*@
            @Html.TextBoxFor(m => m.AdresseFacturation.pays, new { @class = "form-control", value = "France" })
        </div>
    </div>
    <hr />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="S’inscrire" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
