@model LaTirelire.Models.Adresse

<div>
    <h4>Adresse</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.voie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.voie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.codePostal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codePostal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ville)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ville)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pays)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
